.profile__edit-button {
  padding: 0;
  border: 0;
  all: unset;
  background-image: url(../../../images/edit_button.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
  transition: opacity ease-in-out 0.2s;
  cursor: pointer;
  margin: auto;
}

.profile__edit-button:active {
  opacity: 1;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media  screen and (min-width: 769px) {
.profile__edit-button {
  width: 24px;
  height: 24px;
}
}