.popup__job-input {
  all: unset;
  margin: 0 0 45px;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

@media screen and (min-width: 769px) {
  .popup__job-input {
    margin: 0 0 45px;
  }
}