.profile__add-button {
  margin: 0;
  padding: 0;
  border: 0;
  all: unset;
  display: flex;
  background-image: url(../../../images/add_button.svg);
  background-size: contain;
  width: 282px;
  height: 50px;
  transition: opacity ease-in-out 0.2s;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:active {
  opacity: 1;
}

@media  screen and (min-width: 769px) {
.profile__add-button {
  background-image: url(../../../images/add_button_desktop.svg);
  background-size: contain;
  width: 150px;
  height: 50px;
}
}